In [1]:
import pandas as pd
import numpy as np

In [5]:
books = pd.read_csv('./goodbooks-10k/books.csv')

In [7]:
book_tags = pd.read_csv('./goodbooks-10k/book_tags.csv')

In [9]:
ratings = pd.read_csv('./goodbooks-10k/ratings.csv')

In [11]:
tags = pd.read_csv('./goodbooks-10k/tags.csv')

In [48]:
new_tags = pd.merge(book_tags, tags, how = 'left', on='tag_id')

In [50]:
new_tags.head()

   goodreads_book_id  tag_id   count           tag_name
0                  1   30574  167697            to-read
1                  1   11305   37174            fantasy
2                  1   11557   34173          favorites
3                  1    8717   12986  currently-reading
4                  1   33114   12716        young-adult

In [89]:
def_tags = ['action', 'classics', 'comic', 'detective' , 'fantasy', 'historical', 'horror', 'literary', 
           'romance', 'sci-fi', 'biographies', 'cook', 'poetry','academic', 'business','art','cultural']

In [90]:
len(def_tags)

17

In [91]:
id_list = []
tag_list = []
for index, row in new_tags.iterrows():
    if row['goodreads_book_id'] in id_list:
        pass
    else:
        if row['tag_name'] in def_tags:
            id_list.append(row['goodreads_book_id'])
            tag_list.append(row['tag_name'])

In [92]:
len(id_list)

9633

In [93]:
len(tag_list)

9633

In [96]:
to_export = pd.DataFrame({'goodreads_book_id':id_list,
                          'tag_name':tag_list})

In [97]:
to_export.groupby(['tag_name']).count()

             goodreads_book_id
tag_name
academic                    26
action                     256
art                        133
biographies                411
business                   276
classics                  1463
comic                      122
cook                        33
cultural                    41
detective                  454
fantasy                   2241
historical                 803
horror                     469
literary                   237
poetry                     128
romance                   2010
sci-fi                     530

In [100]:
to_export.to_csv(r'./consolidated dataset/consolidated_tags.csv', index=False)

In [ ]:
#combine books and tags

In [101]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [116]:
new_book = pd.merge(books, to_export, how = 'right', on = 'goodreads_book_id')

In [109]:
new_book.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_name
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,fantasy
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,fantasy
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,fantasy
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,classics
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,classics

In [117]:
new_book = new_book.drop(columns=['best_book_id', 'work_id', 'books_count', 'work_ratings_count',
                                 'work_text_reviews_count','goodreads_book_id','title','language_code', 'ratings_count'])

In [118]:
new_book.head()

,book_id,isbn,isbn13,authors,original_publication_year,original_title,average_rating,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_name
0,1,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,4.34,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,fantasy
1,2,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,4.44,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,fantasy
2,3,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,3.57,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,fantasy
3,4,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,4.25,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,classics
4,5,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,3.89,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,classics

In [119]:
new_book.to_csv(r'./consolidated dataset/consolidated_books.csv', index=False)