# Notebook example
___
1. Loads `.csv` files as dataframes.
2. Creates a `bookdb` database.
3. Inserts dataframes into database as tables.
4. Test recommender system using the created database.

In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import os

In [2]:
dbname = "bookdb"

dataset_path = "../dataset/goodbooks-10k"
books_path = os.path.join(dataset_path, "books.csv")
tags_path = os.path.join(dataset_path, "tags.csv")
book_tags_path = os.path.join(dataset_path, "book_tags.csv")
ratings_path = os.path.join(dataset_path, "ratings.csv") # usage: collaborative_filter.py

In [3]:
# Load tags dataset
tags = pd.read_csv(tags_path)

# Load book tags dataset
book_tags = pd.read_csv(book_tags_path)

# Load books dataset
books = pd.read_csv(books_path, encoding = "ISO-8859-1")
books['author'] = books['authors'].apply(lambda x:  x.split(',')[0]) # Only use name of main author
books = books[['book_id', 'goodreads_book_id', 'title', 'average_rating', 'author']]

# Load ratings dataset (usage: collaborative_filter.py)
ratings = pd.read_csv(ratings_path)

In [4]:
# Connect to db
engine = create_engine('mysql+pymysql://username:password@localhost')
engine.execute("CREATE DATABASE IF NOT EXISTS {}".format(dbname))
engine.execute("USE {}".format(dbname))

In [5]:
# Create tables
try:
    books.to_sql(name="books", con=engine, if_exists='fail', index=False)
    tags.to_sql(name="tags", con=engine, if_exists='fail', index=False)
    book_tags.to_sql(name="book_tags", con=engine, if_exists='fail', index=False)
    ratings.to_sql(name="ratings", con=engine, if_exists='fail', index=False)
except:
    pass

In [6]:
# Query
pd.read_sql("SELECT * FROM books WHERE book_id=1", con=engine)

,book_id,goodreads_book_id,title,average_rating,author
0,1,2767052,"The Hunger Games (The Hunger Games, #1)",4.34,Suzanne Collins

In [7]:
# Using recommender system with db
from content_based import *

rs = ContentRecommenderSystem()
rs.load_from_db(engine)
rs.fit()rs.fit()

In [12]:
# Get recommendations
recommendation_df = rs.get_recommendations(1, 5, verbose=False)

Input book:
                                           title           author  average_rating
book_id
1        The Hunger Games (The Hunger Games, #1)  Suzanne Collins            4.34

In [13]:
# Display recommendations
recommendation_df

,title,author,average_rating
book_id,,,
20,"Mockingjay (The Hunger Games, #3)",Suzanne Collins,4.03
17,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,4.30
507,The Hunger Games Trilogy Boxset (The Hunger Ga...,Suzanne Collins,4.49
12,"Divergent (Divergent, #1)",Veronica Roth,4.24
69,"Insurgent (Divergent, #2)",Veronica Roth,4.07

In [ ]:
# # Drop tables 
# engine.execute("DROP TABLE ...") # replace ... with table name

In [54]:
# Close db
engine.dispose()