# Notebook example
___
1. Loads `.csv` files as dataframes.
2. Creates a `bookdb` database.
3. Inserts dataframes into database as tables.
4. Test recommender system using the created database.

In [1]:
# User variables
MYSQL_USER = 'username'
MYSQL_PASS = 'password'

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import os

In [3]:
dbname = "bookdb"

dataset_path = "../dataset/goodbooks-10k"
books_path = os.path.join(dataset_path, "final_books.csv")
tags_path = os.path.join(dataset_path, "final_tags.csv")
book_tags_path = os.path.join(dataset_path, "final_book_tags.csv")
#ratings_path = os.path.join(dataset_path, "ratings.csv") # usage: collaborative_filter.py

In [4]:
# Load tags dataset
tags = pd.read_csv(tags_path)

# Load book tags dataset
book_tags = pd.read_csv(book_tags_path)

# Load books dataset
books = pd.read_csv(books_path, encoding = "ISO-8859-1")

# Load ratings dataset (usage: collaborative_filter.py)
#ratings = pd.read_csv(ratings_path)

In [6]:
# Connect to db
engine = create_engine(f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASS}@localhost') # your mysql username and password
engine.execute("CREATE DATABASE IF NOT EXISTS {}".format(dbname))
engine.execute("USE {}".format(dbname))

In [6]:
# Create tables
try:
    books.to_sql(name="books", con=engine, if_exists='fail', index=False)
    tags.to_sql(name="tags", con=engine, if_exists='fail', index=False)
    book_tags.to_sql(name="book_tags", con=engine, if_exists='fail', index=False)
    ratings.to_sql(name="ratings", con=engine, if_exists='fail', index=False)
except:
    pass

In [7]:
# Query example
pd.read_sql("SELECT * FROM books WHERE ISBN=439023483", con=engine)

,isbn,original_publication_year,title,average_rating,ratings_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,author,description,page_count
0,439023483,2008.0,"The Hunger Games (The Hunger Games, #1)",4.34,4780653,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.\n\nLOSING MEAN...,374

In [6]:
# Using recommender system with db
from content_based import *

rs = ContentRecommenderSystem()
rs.load_from_db(engine)
rs.fit()

In [7]:
# Get recommendations
recommendation_df = rs.get_recommendations(['439023483', '439554934'], [100], 10, verbose=False)

In [8]:
# Display recommendations (isbns)
recommendation_df

['545265355',
 '439023513',
 '61935123',
 '62284835',
 '802122558',
 '312656270',
 '61284408',
 '147111810X',
 '1595142509',
 '1599908735']

In [ ]:
# # Drop tables 
# engine.execute("DROP TABLE ...") # replace ... with table name

In [14]:
# Close db
engine.dispose()